<!doctype html>
<html lang="en">
  <head>
    <title>Template</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>     
     <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&family=Roboto:ital,wght@0,400;0,700;1,300;1,400&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap" rel="stylesheet"> </head>
  <body>

      

        
      <div class="main-div">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-11">
      <div class="center-div">
         <img src="https://d92mrp7hetgfk.cloudfront.net/images/sites/misc/springboard-logo/original.png?1561661956" class="img-fluid imgg">
         <h1>Springboard </h1>
         <span class="online"><i class="fas fa-map-marker-alt"></i>&nbsp; Online</span>
         <span class="text"><img src="https://d92mrp7hetgfk.cloudfront.net/images/sites/SU/SU_minibadge/original.png?1629924488" class="img-fluid img1" alt="pic">&nbsp; Ranked 2022 Best Bootcamp</span>
         <a href="#"><button class="butt">Write a review</button></a>
         <ul>
             <li><i class="fas fa-star"></i></li>
             <li><i class="fas fa-star"></i></li>
             <li><i class="fas fa-star"></i></li>
             <li><i class="fas fa-star"></i></li>
             <li><i class="fas fa-star-half-alt"></i></li>
             <li><a class="hef" href="#">4.69/5</a></li>
            </ul>
            <span class="reivew"><a href="#"><i class="far fa-envelope-square"></i>&nbsp;1100 reviews</a></span>
        </div>
      </div>

    
  </div>
</div>
    
      <div class="container">
        <div class="col-lg-12 col-md-12 col-11">
      <div class="school">
          <div class="data">
              <h2>About Springboard</h2>
              <span class="onl"><i class="fas fa-map-marker-alt"></i>&nbsp; Online</span>
              <ul>
                  <span class="avail1"><li><i class="far fa-check"></i>&nbsp; Available Online</li></span>
                  <span class="avail2"><li><i class="far fa-check"></i>&nbsp;Flexible Classes</li></span>
                  <span class="avail3"><li><i class="far fa-check"></i>&nbsp; Job Guarantee </li></span>

                </ul>
                <p>Springboard is an online learning platform that prepares students for the tech industry’s most in-demand careers with comprehensive, mentor-led online programs in software engineering, data science, machine learning, UI/UX design, cybersecurity, and more
                  <span id="dots">...</span><span id="more">
                    We act as a support system, coach, and cheerleader for working professionals who are ready to level-up or make a major career shift.                   All Springboard courses are 100% online, remote, and self-paced throughout an average of six to nine months.
                    The Springboard experience gives our students access to a unique community of industry mentors, thought leaders, and alumni, who are on hand to offer insights, networking opportunities, and support throughout our programs and well past graduation. Every Springboard student is matched with a personal student advisor and industry mentor who guides them throughout the program through weekly video calls.
                    Before graduation, Springboard’s career services team supports students in their job search, helping prepare them for interviews and networking, and facilitates their transition into the tech industry. Our tuition-back guarantee allowing students a six-month runway to secure the role of their dreams means students can take charge and invest in themselve 
                    Springboard’s support does not end when students graduate. All our graduates benefit from an extensive support network encompassing career services, 1:1 career coaching, networking tips, resume assistance, interview prep, and salary negotiation.
                     This approach has seen considerable success: since Springboard
                     was founded in 2013, 94% of eligible graduates secured a job within
                      one year, earning an average salary increase of $26,000.</span></p>
                      <h6 onclick="LearnMore()" id="myBtn" class="main-btn">Read More</h6>

                    <p class="para">Do you represent this school? <a href="#">Suggest edits.</a></p>
                </div>
      </div>
           
    </div>
  </div>


    <div class="container">
      <div class="col-lg-12 col-md-12 col-11">
      
      <div class="courses">
        <div class="courses-data">
          <h1>Courses</h1>
          <div class="accodian">
            <div class="contentB">
              <div class="label">Cyber Security Career Track <br/> Cost: $9,900  &nbsp; &nbsp; &nbsp;
                Duration: 24 weeks </div>
            <div class="content">
              <p class="Para1">
                <span class="local">Locations:</span> Online
                <br/>
                <span class="local">Course Description:</span>
                <br/>
                
                This Cyber Security Career Track is the first online cyber bootcamp to guarantee your first cybersecurity job, or your tuition back.
                
                In this fully online Cyber Security Career Track, you will learn from the comfort of your home and at your own pace with 1:1 support from a skilled cybersecurity mentor and dedicated support from career coaches. You will get hands-on practice with 30+ labs and projects, while getting everything you need to pass the Security+ certification test. By the end of the bootcamp, you'll have all of the blue team technical and communication skills you need to start a cybersecurity analyst role (A job that helps you earn about $100,000 in average salary).
                
                Subjects: Cybersecurity Basics (optional), Cybersecurity Fundamentals, IT Project Management, Host-based security, Network Security, Identity and Access Management, Security Assessment and Training, Security Operations, Application Security, Security+ Prep
                Subjects:
                Project Management, Cyber Security, Network Security </p>
            </div>
          </div>

          <div class="contentB">
            <div class="label">Data Analytics Career Track <br/>  Duration: 24 weeks   &nbsp; &nbsp; &nbsp;
              Duration: 24 weeks </div>
          <div class="content">
            <p class="Para1">
              <span class="local">Locations:</span> Online
              <br/>
              <span class="local">Course Description:</span>
              <br/>
              
              Become a data analyst in six months, job guaranteed! Through this course, developed in partnership with Microsoft, you’ll master the technical and business thinking skills needed to get hired.

            In addition to learning fundamental business statistics concepts, key tools (like Excel, SQL, Python, Power BI, and Tableau), and advanced analysis techniques, you’ll develop your problem-solving skills—something hiring managers told us most job applicants lack. Two capstone projects will allow you to bring all of your skills together, becoming the center of a powerful portfolio. And you’ll do it all with the guidance of your personal mentor and career coach, plus support from your fellow students and Springboard alumni.</p>
          </div>
        </div>


        <div class="contentB">
          <div class="label">Data Engineering Career Track <br/>  Cost: $10,900   &nbsp; &nbsp; &nbsp;
            Duration: 24 weeks </div>
        <div class="content">
          <p class="Para1">
            <span class="local">Locations:</span> Online
            <br/>
            <span class="local">Course Description:</span>
            <br/>
            Students in the Data Engineering Career Track will learn to translate business needs into data infrastructure.

         The curriculum is designed to teach students the framework, skills, and tools the world's top technology companies demand.

        Some of the topics the curriculum covers include ETL and data pipelines, big data technologies like MapReduce, Apache Hadoop and Spark, and data warehousing, data schema, and modeling.

        Subjects: Big Data Engineering, Data Engineering in the Cloud, Data Pipelines and Orchestration, Data Virtualization and Container-based, Streaming Data and APIs, Coding for Data Engineering </p>
        </div>
      </div>


      <div class="contentB">
        <div class="label">Data Science Career Track <br/>  Cost: $9,900   &nbsp; &nbsp; &nbsp;
          Duration: 24 weeks </div>
      <div class="content">
        <p class="Para1">
          <span class="local">Locations:</span> Online
          <br/>
          <span class="local">Course Description:</span>
          <br/>
          
          Get a job, or your money back, through Springboard’s mentor-guided online bootcamp. With our job guarantee, if you don’t land a job within six months of graduating, your tuition will be refunded.

          Students will master the data science process, from statistics and data wrangling to advanced topics like machine learning and data storytelling, by working on real projects designed by industry experts. With the guidance of your personal mentor and career coaches, you will graduate with an interview-ready portfolio and a network of data scientists. We won’t stop there. We know that career transitions are hard, and we’ll support you every step of the way—until you get hired.
          
          Deferred Tuition: $12,500 for 18 months.
          <br/>
          <span class="local"> Subjects:</span>
          <br/>
          Python, Data Visualization, Data Structures, Data Science  </p>
      </div>
    </div>


    <div class="contentB">
      <div class="label">Data Science Career Track Prep <br/> Cost: $490  &nbsp; &nbsp; &nbsp;
        Duration: 6 weeks </div>
    <div class="content">
      <p class="Para1">
        <span class="local">Locations:</span> Online
        <br/>
        <span class="local">Course Description:</span>
        <br/>
        Need more prep for the Data Science Career Track? In this mentor-led course, you'll spend 4-6 weeks mastering the foundational skills needed to pass the admissions challenge and start your career.

        This course was designed specifically for go-getters who want to enroll in our Data Science Career Track, but who need an introduction to, or a refresher in, Python programming, statistics, or other core data science concepts.
        
        With guidance from your personal mentor, you’ll finish the course having learned to use Python to complete real-world coding exercises. You’ll also be able to ace our Data Science Career Track admissions challenge and begin your data science journey.
        <br/>
        
        <span class="local"> Subjects:</span>
        Data Science </p>
    </div>
  </div>


  <div class="contentB">
    <div class="label">Introduction to Data Analytics <br/> Cost: $349  &nbsp; &nbsp; &nbsp;
      Duration: 4 weeks </div>
  <div class="content">
    <p class="Para1">
      <span class="local">Locations:</span> Online
      <br/>
      <span class="local">Course Description:</span>
      <br/>
      
      This course is designed to help students decide if a career in data analytics is right for them. It will also help them decide if Springboard is the right educator for them. The course will introduce students to data analytics fundamentals, including structured thinking processes, Excel foundations, and how to present data-driven insights.
       <br/>
    <span class="local">Subjects:</span>
      <br/>
      Data Analytics, Excel  </p>
  </div>
</div>


<div class="contentB">
  <div class="label">Introduction to Design <br/> Cost: $349  &nbsp; &nbsp; &nbsp;
    Duration: 4 weeks </div>
<div class="content">
  <p class="Para1">
    <span class="local">Locations:</span> Online
    <br/>
    <span class="local">Course Description:</span>
    <br/>
    
    This four-week, online course allows students to experience the Springboard curriculum in a bite-sized, easily digestible format. It’s created for those who want to test if online learning is for them, and those who are simply curious to see if their interest in design could lead them towards a new career.

Introduction to Design students have access to one-on-one mentorship from a design expert, a one-on-one call with a career coach, hands-on, exercise-based learning, access to a dedicated student advisor, a teaching assistant, student operations support and a community of aspiring designers and design experts.
<br/>
   <span class="local"> Subjects:</span>
   <br/>
Sketch, UI Design, UX Design, Wireframing, Figma, Personas  </p>
</div>
</div>




<div class="contentB">
  <div class="label">Machine Learning Engineering Career Track <br/> Cost: $10,999  &nbsp; &nbsp; &nbsp;
    Duration: 26 weeks </div>
<div class="content">
  <p class="Para1">
    <span class="local">Locations:</span> Online
    <br/>
    <span class="local">Course Description:</span>
    <br/>
    
    Fast-track your machine learning career through our mentor-guided, hands-on machine learning engineering course—the first to come with a job guarantee.

Our curriculum, designed for people with software engineering experience, is rigorous and deeply technical, teaching the foundations of machine learning and deep learning. But it’s also hands-on. Of the 400 hours of work we estimate it will take to complete this course, 100 hours go toward capstone projects. You’ll build and deploy large-scale AI systems—with guidance from your mentor, an experienced machine learning engineer currently working in the industry.

Deferred Tuition: $12,500 for 18 months.
<br/>

 <span class="local"> Subjects:</span>
 <br/>
Exploratory Testing, Machine Learning, Artificial Intelligence (AI)  </p>
</div>
</div>


<div class="contentB">
  <div class="label">Software Engineering Career Track<br/> Cost: $9900  &nbsp; &nbsp; &nbsp;
    Duration: 36 weeks </div>
<div class="content">
  <p class="Para1">
    <span class="local">Locations:</span> Online
    <br/>
    <span class="local">Course Description:</span>
    <br/>
    
    Launch your career as a software engineer with 1:1 mentorship, career coaching, and a job guarantee. If you don’t land a job within six months of graduating, your tuition is refunded. We’ve partnered with legendary coding instructor Colt Steele to develop a cutting-edge curriculum covering everything from Python and SQL to the latest JavaScript frameworks that employers are hiring for, React and Node. As part of the course, you’ll build your own production-ready web apps to showcase to employers. You’ll also be paired with a personal mentor, an experienced software engineer currently working in the industry, who will guide you throughout the course.

    <br/>
   <span class="local"> Subjects: </span>
   <br/>
jQuery, PostgreSQL, AJAX, Python, Redux, React.js, SQL, JavaScript  </p>
</div>
</div>


<div class="contentB">
  <div class="label">Software Engineering Career Track Prep Course <br/> Cost: $490  &nbsp; &nbsp; &nbsp;
    Duration: 4 weeks </div>
<div class="content">
  <p class="Para1">
    <span class="local">Locations:</span> Online
    <br/>
    <span class="local">Course Description:</span>
    <br/>
    
    Learn HTML/CSS and JavaScript in this online self-paced course from your own senior software engineer mentor. The perfect foundation to becoming a software engineer and taking more advanced job-guaranteed bootcamps like Springboard’s Software Engineer Career Track.
    <br/>
   <span class="local"> Subjects:</span>
   <br/>
CSS, HTML, JavaScript  </p>
</div>
</div>
  
         
          </div>
          <div class="pagination">
            <a href="#">&laquo;previous</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">Next &raquo;</a>
            </div>
        </div>
      </div>
        
    </div>
  </div>
     
            

    

      <script src="/js/code.js"></script>
      <script>
        let dots = document.getElementById("dots");
let moreText = document.getElementById("more");
let btnText = document.getElementById("myBtn");

function LearnMore() {

if (dots.style.display === "none") {
  dots.style.display = "inline";
  btnText.innerHTML = "Read more"; 
  moreText.style.display = "none";
} else {
  dots.style.display = "none";
  btnText.innerHTML = "Read less"; 
  moreText.style.display = "inline";
}
}

const accodian = document.getElementsByClassName('contentB');

for(i = 0; i< accodian.length; i++){
    accodian[i].addEventListener('click',function(){
        this.classList.toggle('active');
    })
}
      </script>
     
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>