
 @import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

body{

    font-family: Quicksand;
    text-decoration: none;
    background-color: rgb(232, 232, 243);

}




.center-div{
    /* background-color: #eff3f6;
    width: 72%;
    height: 300px;
    margin-top: 2%;
    border-radius: 16px;
    position: relative;
    z-index: 2; */
    background-color: #eff3f6;
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 5%;
   
    
}
.imgg{
    position: absolute;
    top: 40px;
    left: 45px;
    width: 130px;
}
.center-div h1{
    color: black;
    font-size: 3.5rem;
    font-weight: 700;
    position: absolute;
    top: 11%;
    left: 21%;
    line-height: 1em;
    letter-spacing: -0.5px;
}
.fa-map-marker-alt{
    color: gray;
}
.online{
    position: absolute;
    top: 33%;
    left: 21%;
}
.text{
    position: absolute;
    top: 48%;
    left: 20%;
    font-size: 16px;
    font-weight: 400;
}
.img1{
    width: 30px;
}
a{
    text-decoration: none;
}
.butt{
    position: absolute;
    top:72%;
    left: 45px;
    /* border: none;
    padding: 5px 18px;
    text-align: center;
    color: #0e1ac7;
    text-transform: uppercase;
    font-weight: bold; */
   
    background-color: #f8f8f8;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    color: #462525 !important;
    float: left;
    font-size: 13px;
    font-weight: 500;
    line-height: 27px;
    padding: 3px 15px;
    
}
.butt:hover{
    background-color: rgb(226, 226, 226);
    color: rgb(206, 197, 197);
}
.center-div li{
    display: inline-block;
    position: relative;
    top: 221px;
    left: 23%;
}
li a{
    text-decoration: none;
}
.fa-star{
    color: #ffc327;
}
.fa-star-half-alt{
    color: #ffc327;
}
.hef{
    text-decoration: none;
}

.reivew{
 
  color: blue;
  text-decoration: none;
  position: absolute;
  top: 74%;
  left: 50%;

}

.fa-envelope-square{
    color: gray;
}

.school{
    
    position: relative;
    padding: 20px;
    padding-bottom: 10px;
    margin-top: -20px;
}

.data{
    margin-left:20% ;
}
.data h2{
    font-weight: bold;
    font-size: 40px;
    margin-top: 10%;
}

.data li{
    display: inline-block;
    margin-top: 2%;
    
}
.avail1{
    margin-left: -40px;

}
.avail2{
    margin-left: 10px;
}
.avail3{
    margin-left: 10px;
}
.fa-check{
    background-color: blue;
    color: white;
    border-radius: 20px;
}
.avail1:hover{
    cursor: help;
}
.avail2:hover{
    cursor: help;
}
.avail3:hover{
    cursor: help;
}

#more{
    display: none;
}
.para{
    margin-top: 3%;
    background-color:white;
    padding: 10px;
    padding-left: 10px;
    width: 50%;
}

.accodian{
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.label{
    cursor: context-menu;
}

.accodian .contentB{
    position: relative;
    margin: 10px 80px;
}
.accodian .contentB .label{
    position: relative;
    padding: 10px;
    background-color: white;
    border-left: 5px solid blue;
    width: 70%;
       
}
.accodian .contentB .label::before{
    /* color:#000;
    content: '\f25a'; /* You should use \ and not /*/
    /* font-family: "Font Awesome 5 Free"; */
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f055";
       position: absolute;
       top: 20%;
       right: 1%;
       transform: translate(-50%);
       font-size: 1.5rem;
       color: blue;
      
       cursor: pointer;
       border-radius: 20px;
}
.accodian .contentB.active .label::before{
    content: "\f056";
}

.accodian .contentB .content{
    position: relative;
    background-color: white;
    height: 0;
    overflow: hidden;;
    transition: 0.5s;
    overflow-y: auto;
    width: 70%;
}
.accodian .contentB.active .content{
    height: 150px;
}

.local{
    font-weight: bold;
    
}
.Para1{
   
    font-weight: 12px;
    border-left: 5px solid blue;
    padding: 10px;
    
    
}
.pagination a {
    color: black;
    float: left;
    padding: 5px 4px;
    text-decoration: none;
    position:relative;
    left: -30%;
  }
.courses-data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
}
.main-btn{
    color: blue;
    cursor: pointer;
  
}

@media screen and (min-width:768px) and (max-width:1000px){
   
   
     
    .accodian .contentB .label{
        position: relative;
        padding: 10px;
        background-color: white;
        border-left: 5px solid blue;
        width: 80%;
           
    }
    .accodian .contentB .content{
        position: relative;
        background-color: white;
        height: 0;
        overflow: hidden;;
        transition: 0.5s;
        overflow-y: auto;
        width: 80%;
    }
   
    .center-div h1{
        color: black;
        font-size: 2.5rem;
        font-weight: 700;
        position: absolute;
        top: 15%;
        left: 28%;
        line-height: 1em;
        letter-spacing: -0.5px;
    }
    
    .online{
        position: absolute;
        top: 33%;
        left: 28%;
    }
    .text{
        position: absolute;
        top: 50%;
        left: 28%;
        font-size: 16px;
        font-weight: 400;
    }
    .img1{
        width: 30px;
    }
   
    .butt{
        position: absolute;
        top:70%;
        left: 45px;
        /* border: none;
        padding: 5px 18px;
        text-align: center;
        color: #0e1ac7;
        text-transform: uppercase;
        font-weight: bold; */
       
        background-color: #f8f8f8;
        border: 1px solid #eaeaea;
        border-radius: 3px;
        color: #462525 !important;
        float: left;
        font-size: 13px;
        font-weight: 500;
        line-height: 27px;
        padding: 3px 15px;
        
    }
    .center-div li{
        display: inline-block;
        position: relative;
        top: 214px;
        left:25%;
    }
    .reivew{
 
        color: blue;
        text-decoration: none;
        position: absolute;
        top: 71%;
        left: 59%;
      
      }
}



@media screen and (min-width:510px) and (max-width:767px){
   

    .accodian .contentB .label{
        position: relative;
        padding: 10px;
        background-color: white;
        border-left: 5px solid blue;
        width: 130%;
           
    }
    .accodian .contentB .content{
        position: relative;
        background-color: white;
        height: 0;
        overflow: hidden;;
        transition: 0.5s;
        overflow-y: auto;
        width: 130%;
    }


    .avail2{
        margin-left: 10px;
    }
    .avail3{
        margin-left: -40px;
    }
   
    .center-div h1{
        color: black;
        font-size: 1.5rem;
        font-weight: 700;
        position: absolute;
        top: 22%;
        left: 44%;
        line-height: 1em;
        letter-spacing: -0.5px;
    }
    
    .online{
        position: absolute;
        top: 35%;
        left: 44%;
    }
    .text{
        position: absolute;
        top: 50%;
        left: 43%;
        font-size: 14px;
        font-weight: 400;
    }
    .img1{
        width: 30px;
    }
   
    .butt{
        position: absolute;
        top:80%;
        left: 30px;
        /* border: none;
        padding: 5px 18px;
        text-align: center;
        color: #0e1ac7;
        text-transform: uppercase;
        font-weight: bold; */
       
        background-color: #f8f8f8;
        border: 1px solid #eaeaea;
        border-radius: 3px;
        color: #462525 !important;
        float: left;
        font-size: 13px;
        font-weight: 500;
        line-height: 27px;
        padding: 3px 15px;
        
    }
    .center-div li{
        display: inline-block;
        position: relative;
        top: 243px;
        left:30%;
        font-size: 14px;
    }
    
    .reivew{
 
        color: blue;
        text-decoration: none;
        position: absolute;
        top: 81%;
        left: 72%;
      
      }
      .imgg{
        position: absolute;
        top: 40px;
        left: 30px;
        width: 130px;
    }
     
}


@media screen and (min-width:270px) and (max-width:510px){
    

    .accodian .contentB .label{
        position: relative;
        padding: 10px;
        background-color: white;
        border-left: 5px solid blue;
        width: 140%;
           
    }
    .Para1{
   
        font-weight: 12px;
        border-left: 5px solid blue;
        margin: auto;
        font-size: 14px;
        
        
    }
    .label{
        font-size: 14px;
    }
    .accodian .contentB .content{
        position: relative;
        background-color: white;
        height: 0;
        overflow: hidden;;
        transition: 0.5s;
        overflow-y: auto;
        width: 140%;
    }


    .avail2{
        margin-left: 5px;
    }
    .avail3{
        margin-left: -40px;
    }
    
    
    .center-div h1{
        color: black;
        font-size: 1rem;
        font-weight: 700;
        position: absolute;
        top: 22%;
        left: 44%;
        line-height: 1em;
        letter-spacing: -0.5px;
    }
    
    .online{
        position: absolute;
        top: 32%;
        left: 44%;
        font-size: 12px;
    }
    .text{
        position: absolute;
        top: 47%;
        left: 40%;
        font-size: 10.5px;
        font-weight: 400;
        font-weight: bold;
    }
    .img1{
        width: 20px;
    }
   
    .butt{
        position: absolute;
        top:80%;
        left: 12px;
        /* border: none;
        padding: 5px 18px;
        text-align: center;
        color: #0e1ac7;
        text-transform: uppercase;
        font-weight: bold; */
       
        background-color: #f8f8f8;
        border: 1px solid #eaeaea;
        border-radius: 3px;
        color: #462525 !important;
        float: left;
        font-size: 10px;
        font-weight: 500;
        line-height: 27px;
        padding: 3px 15px;
        
    }
    .center-div li{
        display: inline-block;
        position: relative;
        top: 243px;
        left:30%;
        font-size: 10px;
    }
    
    .reivew{
 
        color: blue;
        text-decoration: none;
        position: absolute;
        top: 83%;
        left: 77%;
        font-size: 10px;
      
      }
      .imgg{
        position: absolute;
        top: 40px;
        left: 12px;
        width: 80px;
    }
}

@media (max-width:388px){
    .reivew{
        display: none;
    }

    .center-div li{
        display: inline-block;
        position: relative;
        top: 243px;
        left:35%;
        font-size: 10px;
    }
    
}